body {
  overflow: hidden;
}

.header {
  background-color: black;
  width: 100%;
  height: 44px;
  color: #fff;
  font-size: 11px;
  line-height: 44px;
}

.header .grid {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .grid a {
  display: inline-block;
  color: #fff;
  padding: 0 8px;
  transition: all 0.2s;
  text-transform: uppercase;
  font-size: 13px;
}

.header .grid a:hover {
  color: #ddd;
}

.header .grid .nickname {
  padding-left: 0.4rem;
  font-size: 13px;
  cursor: pointer;
}

.header .grid .nickname:hover {
  color: #ddd;
}

.header .grid .nickname i {
  margin-right: 4px;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.6rem;
  font-weight: 900;
}

.tool-box {
  max-width: 1100px;
  margin: auto;
  border-bottom: 3px solid #333;
  padding: 2rem 0.2rem 1.5rem 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tool-box .logo-text {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
}

.tool-box .search-box .search-input {
  width: 600px;
  outline: 0;
}

.tool-box .cart-box {
  cursor: pointer;
  display: inline-block;
  color: #333;
  font-size: 1.2rem;
}

.tool-box .cart-box .cart-num {
  margin-left: 4px;
}

.panel-wrapper {
  position: relative;
  z-index: 99;
}

.panel-wrapper .panel {
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(25rem);
          transform: translateX(25rem);
}

.panel-wrapper.active .over-layer {
  display: block;
}

.panel-wrapper.active .panel {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.over-layer {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
}

.panel {
  width: 25rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  box-shadow: -3px 0 3px rgba(0, 0, 0, 0.04);
  -webkit-transform: translateX(25rem);
          transform: translateX(25rem);
  transition: all 0.3s ease-in-out;
  z-index: 99;
}

.panel .head {
  padding: 0.5rem;
  text-align: right;
}

.panel .head .close {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  line-height: 1;
  margin-right: 4px;
}

.products {
  max-width: 1100px;
  margin: auto;
  padding: 1.4rem 0;
}

.products .add-btn {
  position: fixed;
  right: 0;
  top: 10rem;
  z-index: 99;
}

.product-fade-enter {
  opacity: 0.1;
}

.product-fade-enter-active {
  opacity: 1;
  transition: all 0.3s ease-in;
}

.product-fade-exit {
  opacity: 1;
}

.product-fade-exit-active {
  opacity: 0.1;
  transition: all 0.3s ease-in;
}

.product {
  width: 265px;
  background: #fff;
  padding: 1.5rem;
}

.product .p-head {
  height: 1.2rem;
}

.product .p-head .edit-btn {
  cursor: pointer;
  color: #d8d7d7;
}

.product .p-content .img-wrapper {
  position: relative;
}

.product .p-content .img-wrapper .out-stock-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c75412;
  z-index: -1;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
}

.product .p-content .img-wrapper img {
  max-width: 100%;
  height: auto;
}

.product .p-content .p-tags {
  margin-top: 0.5rem;
  color: #a5a5a5;
  font-size: 13px;
  padding: 8px 0;
  height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product .p-content .p-name {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 2;
  height: 2.5rem;
}

.product .p-content .p-name:hover {
  color: #2663be;
}

.product .p-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.product .p-footer .price {
  color: #333;
  font-weight: 600;
}

.product .p-footer .add-cart {
  outline: none;
  border: none;
  padding: 0;
  background-color: #eee;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: #8f8c8c;
  cursor: pointer;
  transition: all 0.2s;
}

.product .p-footer .add-cart:hover {
  background-color: #333;
  color: #fff;
}

.product .p-footer .add-cart:active {
  background-color: #0a5885;
  color: #fff;
}

.product .p-footer .add-cart i {
  -webkit-transform: translateX(-8%);
          transform: translateX(-8%);
}

.product .p-footer .add-cart i:last-child {
  display: none;
}

.product .p-footer .add-cart:disabled {
  cursor: not-allowed;
  background-color: #f9f9f9;
  color: #c75412;
}

.product .p-footer .add-cart:disabled > i:first-child {
  display: none;
}

.product .p-footer .add-cart:disabled > i:last-child {
  display: inline !important;
}

.out-stock .out-stock-text {
  z-index: 1 !important;
}

.cart-page {
  max-width: 1100px;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
}

.cart-page .cart-title {
  color: #333;
  font-weight: 500;
  font-size: 18px;
  border-bottom: 2px solid #333;
}

.cart-page .cart-list {
  margin-top: 2rem;
  padding: 0rem 1rem;
  background: #fff;
  color: #333;
}

.cart-page .cart-list .close {
  font-weight: 800;
  display: block;
  padding: 0 8px;
  cursor: pointer;
}

.cart-page .cart-list .cart-name {
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cart-page .cart-list .num-input {
  border: 2px solid #d4d2d2;
  border-radius: 0;
  width: 100px;
  font-size: 14px;
}

.cart-page .cart-list .price {
  font-weight: 600;
}

.cart-page .cart-list .sum-price {
  font-weight: 600;
  color: #d66f6f;
}

.cart-page .cart-list td {
  vertical-align: middle;
}

.cart-page .no-cart {
  padding: 1.5rem;
  background: #fff;
  text-align: center;
  margin-top: 1.5rem;
}

.cart-page .cart-total {
  margin-top: 1.5rem;
  text-align: right;
  color: #333;
}

.cart-page .cart-total .total-price {
  margin-left: 8px;
  font-size: 20px;
  font-weight: 600;
  color: #d66f6f;
}

.cart-item-enter {
  opacity: 0.1;
  transition: all 0.3s ease-in;
}

.cart-item-enter.cart-item-enter-active {
  opacity: 1;
}

.cart-item-exit {
  opacity: 1;
  transition: all 0.3s ease-in;
}

.cart-item-exit.cart-item-exit-active {
  opacity: 0.1;
}

.inventory {
  padding: 1rem 2rem;
}

.user-profile {
  padding: 1rem 2rem;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-wrapper .login-box {
  width: 350px;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
}

@media screen and (max-width: 768px) {
  .product {
    width: 100%;
  }
  .panel {
    width: 100%;
  }
  .products {
    padding: 0;
  }
  .tool-box {
    padding: 1.5rem 1rem;
  }
  .tool-box > .search-box {
    display: none;
  }
  .cart-name {
    width: auto !important;
    white-space: normal !important;
  }
  .login-box {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */